@charset "utf-8";

/* Vendor Prefixing */
@mixin border-radius($arguments...) {
    -webkit-border-radius: $arguments;
    -moz-border-radius: $arguments;
    -ms-border-radius: $arguments;
    border-radius: $arguments;
}

@mixin box-shadow($arguments...) {
    -webkit-box-shadow: $arguments;
    box-shadow: $arguments;
}

@mixin column-count($arguments...) {
    -moz-column-count: $arguments;
    -webkit-column-count: $arguments;
    column-count: $arguments;
}

@mixin column-gap($arguments...) {
    -moz-column-gap: $arguments;
    -webkit-column-gap: $arguments;
    column-gap: $arguments;
}

@mixin box-sizing($arguments...) {
    -moz-box-sizing: $arguments;
    -webkit-box-sizing: $arguments;
    box-sizing: $arguments;
}

@mixin transition($arguments...) {
    -webkit-transition: $arguments;
    -moz-transition: $arguments;
    -ms-transition: $arguments;
    -o-transition: $arguments;
    transition: $arguments;
}

@mixin transform($arguments...) {
    -moz-transform: $arguments;
    -webkit-transform: $arguments;
    -o-transform: $arguments;
    -ms-transform: $arguments;
    transform: $arguments;
}

@mixin animation($arguments...) {
    -webkit-animation: $arguments;
    animation: $arguments;
}

@mixin filter($arguments...) {
    -webkit-filter: $arguments;
    filter: $arguments;
}

@mixin keyframes( $animationName )
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}


/* Custom Functions */
@mixin multiple-columns($columns, $gap) {
    @include column-count($columns);
    @include column-gap($gap);
}
