@charset "utf-8";

@import "helper";

@import "../js/aping/templates/default/aping-default-template";

/* HTML TAGS */

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

body{
    /*
    background-image:url(../img/bg.jpg);
    background-position: center center;
    background-attachment:fixed;
    background-size:cover;
    */
    font-family: 'Roboto Condensed', sans-serif;

    a {
        &:link,
        &:active,
        &:visited {
            text-decoration:none;
            color:#AAA;
            outline: none;

            @include transition(all 250ms ease);
        }
        &:hover {
            text-decoration: underline;
            opacity: 0.7;
        }
    }

}



/*
Media Queries
xs = Extra small devices (phones, less than 768px)
sm = Small devices (tablets, 768px and up to 991px)
md = Medium devices (desktops, 992px and up to 1199px)
lg = Large devices (large desktops, 1200px and up)
*/

@media (max-width:767px) {

}

@media (min-width:768px) {

}
