@charset "utf-8";

@import "_helper";

@import "../js/aping/aping-default-template";

/* HTML TAGS */

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

body{
    /*
    background-image:url(../img/bg.jpg);
    background-position: center center;
    background-attachment:fixed;
    background-size:cover;
    */
    font-family: 'Roboto Condensed', sans-serif;

    a {
        &:link,
        &:active,
        &:visited {
            text-decoration:none;
            color:#AAA;
            outline: none;

            @include transition(all 250ms ease);
        }
        &:hover {
            text-decoration: underline;
            opacity: 0.7;
        }
    }


    /* KLASSEN */
    .container-wrapper {
        .container {

        }
    }

    .container-footer-wrapper {
        .footer-container {

        }
    }

    .pixel-border {
        border: 1px solid black;
    }

    .row-wrapper,
    .row-footer-wrapper {
        margin:0 5px;

        .row {

        }
    }

    .social-icon {
        margin:0 3px;
    }

    .smallfont {
        font-size:0.8em;
    }

    .white-popup {
        position: relative;
        background: #FFF;
        padding: 20px;
        width: auto;
        max-width: 500px;
        margin: 20px auto;
    }


    /* ID's */
    #socials {
        margin:20px 0;
    }

}



/*
Media Queries
xs = Extra small devices (phones, less than 768px)
sm = Small devices (tablets, 768px and up to 991px)
md = Medium devices (desktops, 992px and up to 1199px)
lg = Large devices (large desktops, 1200px and up)
*/

@media (max-width:767px) {

}

@media (min-width:768px) {

}


/*
SME Bootstrap Template
@author: Hornung, Jonathan, Sony Music Germany
*/