<div class="aping-default-template">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

    <div>
        <div class="card-columns">
            <div class="card" ng-repeat="feed in results | orderBy: 'timestamp': true" ng-cloak>
                <a ng-href="{{::feed.post_url}}" target="_blank" class="aping-picture-link nohover"><img
                        ng-src="{{::feed.img_url}}" class="card-img-top img-responsive" alt="Card image"></a>

                <div class="card-block">
                    <h4 class="card-title" ng-if="feed.caption">{{::feed.caption}}</h4>
                    <h6 class="card-link">hochgeladen von <a href="{{::feed.blog_link}}" target="_blank">{{::feed.blog_name}}</a>
                    </h6>

                    <p class="card-text" ng-if="feed.text" linkify>{{::feed.text | limitTo: 250}}{{::feed.text.length > 350 ? '...' : ''}}</p>

                    <time-ago lass="card-link text-muted" from-time="{{::feed.timestamp}}"></time-ago>
                </div>
            </div>
        </div>
    </div>


    <div class="debug-console">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label label-default label-pill pull-right">{{appResult.appConfig.items}}</span>
                appConfig.items
            </li>
            <li class="list-group-item">
                <span class="label label-default label-pill pull-right">{{appResult.appConfig.maxItems}}</span>
                appConfig.maxItems
            </li>
            <li class="list-group-item">
                <span class="label label-default label-pill pull-right">{{results.length}}</span>
                appConfig.results.length
            </li>
            <li class="list-group-item">
                <button ng-class="(results.length < appResult.appConfig.maxItems) ? '' : 'disabled'" class="btn"
                        ng-click="loadMore()">Load more ...
                </button>
            </li>
        </ul>

    </div>

    <button ng-if="results.length < appResult.appConfig.maxItems" class="btn" ng-click="loadMore()">Load more ...
    </button>


</div>
