AuthType Basic
AuthName "Service-Bereich"
AuthUserFile /kunden/260769_81673/www/.htpasswd
Require valid-user
Order deny,allow
Deny from all
Allow from 80.190.148.50    # Munich Balan Office
Allow from 195.71.165.253 	# Munich Office LAN
Allow from 195.71.165.9		# Munich Office WLAN
Allow from 95.222.185.32	# KS Office Daniel
Allow from 213.61.226.246 	# Berlin Office
Allow from 62.2.112.196 	# Swiss Office
Allow from 127.0.0.1        # Local
Allow from localhost        # Local
Satisfy any