<div class="aping-video-deadwood">

    DEADWOOD

    <div ng-controller="apingDeadwoodController">
        <div>
            <div ng-repeat="feed in workingCopy | orderBy: 'timestamp': true | limitTo:1" ng-cloak>
                <div class="embed-responsive embed-responsive-16by9">
                    <video-bg video-id="feed.intern_id" ng-cloak>

                    </video-bg>
                </div>
            </div>
            <br>
            <div class="block-grid-xs-3">
                <div ng-repeat="feed in workingCopy | orderBy: 'timestamp': true | limitTo:4" ng-if="$index >= 1" ng-cloak>
                    <img ng-src="{{::feed.img_url}}" class="card-img-top img-responsive" alt="Card image">
                </div>
            </div>
        </div>
    </div>

</div>
