.aping-design-default {

    .masonry-brick {
        .box {
            background-color:white;

            font-family: 'Economica', sans-serif;

            @include transition(all 250ms ease);
            @include box-shadow(0 0 5px 0 rgba(0,0,0,0.4));

            margin-bottom:2rem;

            &:hover {
                @include box-shadow(0 0 5px 0 rgba(0,0,0,0.8));
            }

            a {
                &.aping-picture-link {
                    @include transition(all 250ms ease);
                    &:hover {
                        opacity:1;
                        @include filter(grayscale(0.5) sepia(0.6));
                    }
                }
            }


            img.main-image {
                border-radius: 0;
                width:100%;
                height:auto;
            }

            .box-content {
                padding:1rem;
                overflow:hidden;
            }

            .box-footer {
                height:1em;

                .platform-box {

                    margin-left: 10px;
                    margin-top:10px;

                    a.platform-link {
                        display:inline-block;
                        @include transition(all 250ms ease);
                        @include box-shadow(0 0 5px 0 rgba(0,0,0,0.4));
                        @include border-radius(40px);
                        &:hover {
                            @include box-shadow(0 0 5px 0 rgba(0,0,0,0.8));
                        }
                    }
                }
            }
        }
    }
}
